@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.fade-in {
  animation: fade-in 0.9s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fade-in-faster {
  animation: fade-in 0.5s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fade-in-regular {
  animation: fade-in 0.2s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.carousel {
  display: inline-flex;
  overflow-x: hidden;
/*  scroll snap is a great feature which will center the image on snap on touch screen devices  */
  scroll-snap-type: x mandatory;
/* all below will hide the scrollbar on all browsers.    */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
